.form-row > button {
    line-height: 20px;
    font-size: 15px;
    background: #3751FF;
   padding: 15px;
    color: #fff;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(51, 8, 172, 0.333);
    
  }
  .form-row > button:last-of-type {
      background-color: white;
      border-style: solid;
      border-color: #3751FF;
      
  }