.form {
    display:flex;
    flex-direction:column;
    gap: 40px;
    width: 80%;
    margin-right: 20px;
  }
.form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
}
.form-row.flex-row {
    display: inline-block;
    width: 100%;
    background-color: yellow;
    flex-direction: row;
    color: #8C8D9A;
}
.form-row > label {
  text-transform:capitalize;
  font-size: 15px;
  color: #015cda

  
}
.form-row > input {
    line-height: 40px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
}
  .form-row > input::placeholder {
    color: rgb(37, 16, 230);
    font-style:normal;
  }
  .form-row > a {
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #015cda;
  }
  .form-row.two {
      background-color: aqua;
      display: flex;
      flex-direction:row;
      gap: 60px;
  }
  .form-row.flex-row > a:last-child {
    display: inline;
      float: right;
  }
  